	html {
		scroll-behavior: smooth;
		padding: 0;
		margin: 0;
	}

	body {
  		background-color: #000;
		padding: 0;
		margin: 0;
	}

	.img-container-block {
	  text-align: center;
	}
	.img-container-inline {
	  text-align: center;
	  display: block;
	}

    .text-block {
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
        display: block;
    }
	
	@import url(fonts/font-awesome.min.css);
	/* raleway-regular - latin */
	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 400;
	  src: url('fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	       url('fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
	       url('fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
	}

    .text-block h2 {
		margin-top: 10%;
        font-size: 200%;
        font-weight: bold;
	    font-family: "Raleway";
	    color: #fff952;
    }

	.text-block p {
	    text-align: center;
	    font-size: 150%;
	    font-family: "Raleway";
	    color: white;
	    top: 50%;
        left: 50%;
	}	

	.list-block {
	    border: 3px solid #fff952;
	    border-radius:10%;
        display: block;
	}

	.list-block li {
	    text-align: center;
	    font-size: 150%;
	    font-family: "Raleway";
	    color: white;
        margin-bottom: 5pt;	    
	}

	.list-block p {
	    text-align: center;
	    font-size: 150%;
	    font-family: "Raleway";
	    color: white;
        margin-bottom: 5pt;	    
	}

	ul {
	  list-style: none;
	  text-align: left;
	}
	
	ul li:before {
	  content: '✓';
	}

    a.button2{
        display:inline-block;
        padding:0.5em 3em;
        border:0.16em solid #FFF952;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFF952;
        text-align:center;
        transition: all 0.15s;
    }

    a.button2:hover{
        color:#FFFFFF;
        border-color:#FFFFFF;
    }
    a.button2:active{
        color:#FFFFFF;
        border-color:#FFFFFF;
    }
    @media all and (max-width:30em){
        a.button2{
            display:block;
            margin:0.4em auto;
        }
    }

    a {
        color:#FFF952;
		text-decoration: none;
    }
    
	a:hover {
        color:#FFFFFF;
	}

    a:active {
        color:#FFFFFF;
    }
	
	.topnav, ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
	}
	  
	.topnav  li {
		float: left;
	}

	.topnav li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: 'Raleway';
	}
	  
	.topnav li a:hover {
		background-color: #111;
	}

	.form-block {
		text-align: left;
		font-size: 150%;
		font-family: "Raleway";
		color: white;
		margin-bottom: 10pt;	   
		padding-left: 30%;
        padding-right: 30%;
		margin-top: 20pt;
	}
	
	.input-block {
		margin-bottom: 20px;
		padding: 20px;
		border: 1px solid #222222;
		border-radius: 10px;
	}
	
	.input-block table {
		margin-top: 12px;
	}

	input {
		background-color: #000000;
		color: white;
		font-family: 'Raleway';
		font-style: normal;
		font-size: 75%;
		border: none;
		border-bottom: 1px solid grey;
		outline: none
	}
	
	input[type=text], input[type=tel], input[type=email] {
		margin-top: 25px;
		margin-bottom: 12px;
		width: 50%;
		-webkit-transition: width .35s ease-in-out;
		transition: width .35s ease-in-out;		
	}

	input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
		width: 65%;
		border-bottom: 2px solid grey;
	}

	input#other_gender {
		width: 75%;
		margin: 0%
	}
	input#other_gender:focus {
		width: 100%;
	}

	input[type=date] {
		margin-top: 15px;
		margin-bottom: 12px;
		background-color: #131313;
		font-size: 100%;
		width: 25%;
	}

	.submit-button input {
		border: 1px solid #222222;
		border-radius: 10px;
		font-size: 100%;
		margin-left: 18px;
	}

	.submit-button input:hover {
		background-color: #131313;
	}

	.text-block p2 {
		font-size: 120%;
        font-weight: bold;
	    font-family: "Raleway";
	    color: #fff952;
	}

	span{
		color: #FFF952
	}

	.socialbox{
		width: 100%;
		height: 10%;
	}
	